In [18]:
import pandas as pd
from faker import Faker

fake = Faker()
df = pd.read_excel("WIT.xlsx")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nama        24 non-null     object
 1   NRP         24 non-null     int64
 2   Pendapatan  0 non-null      float64
 3   Status      24 non-null     object
 4   Kota        24 non-null     object
 5   Asuransi    0 non-null      float64
 6   Umur        0 non-null      float64
 7   Gender      24 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ KB

In [20]:
df['Pendapatan'] = [fake.random_int(min=1500000, max=3000000, step=150000) for _ in range(24)]
df['Umur'] = [fake.random_int(min=19, max=21) for _ in range (24)]
df['Asuransi'] = [fake.random_element(elements=('Ya', 'Tidak')) for _ in range(24)]

In [24]:
df

,Nama,NRP,Pendapatan,Status,Kota,Asuransi,Umur,Gender
0,Nicovan Renardy,2173001,2550000,Belum Menikah,Cirebon,Tidak,20,L
1,Farrel Valentino Sutrisno,2173003,1500000,Belum Menikah,Cirebon,Tidak,20,L
2,Velinda Novelia Candra,2173004,1500000,Belum Menikah,Cirebon,Ya,19,P
3,Matthew Christopher,2173005,2100000,Belum Menikah,Bandung,Tidak,21,L
4,Valencia Samuel,2173006,2850000,Belum Menikah,Bogor,Ya,19,P
5,David Kurniawan,2173007,1800000,Belum Menikah,Cirebon,Ya,20,L
6,Owen Wilianto,2173008,1650000,Belum Menikah,Bandung,Tidak,21,L
7,Abigail Maura,2173010,2100000,Belum Menikah,Bandung,Tidak,21,P
8,Michelle Angeline Aprila,2173011,1650000,Belum Menikah,Bandung,Ya,20,P
9,Yemmi Agustin,2173012,1800000,Belum Menikah,Jakarta,Ya,19,L
10,Dwiyanto Hermawan,2173013,2100000,Belum Menikah,Tasikmalaya,Tidak,21,L
11,Ryo Fernando,2173014,1500000,Belum Menikah,Bandung,Ya,21,L
12,Ivan Hadiono,2173015,2550000,Belum Menikah,Surakarta,Ya,21,L
13,Marco Benhard Lee,2173017,1800000,Belum Menikah,Medan,Tidak,19,L
14,Felisa Angeline Ongkowidjojo,2173018,1500000,Belum Menikah,Bandung,Tidak,21,P
15,Vincent Febryan,2173019,2100000,Belum Menikah,Pontianak,Tidak,20,L
16,Raimundo,2173020,2100000,Belum Menikah,Batam,Tidak,19,L
17,Morley Tri Wahyudin,2173021,1500000,Belum Menikah,Bandung,Tidak,19,L
18,Alfonsus Aldo Chandra,2173023,1650000,Belum Menikah,Bandung,Ya,20,L
19,Rosi Rachel Dame Tiarasi,2173025,1650000,Belum Menikah,Bandung,Tidak,21,P
20,Azarya Pranata,2173026,3000000,Belum Menikah,Pontianak,Tidak,21,L
21,Daryl Lesmana,2173027,1500000,Belum Menikah,Cirebon,Tidak,20,L
22,Marselius Agus Dhion,2173028,2850000,Belum Menikah,Bandung,Ya,19,L
23,Junniar Arrang Bua,2173901,1650000,Belum Menikah,Toraja,Ya,21,L

In [25]:
export_file = 'WIT_2.xlsx'
df.to_excel(export_file, index=False)

In [26]:
df_2 = pd.read_excel("WIT_2.xlsx")

In [28]:
df_2

,Nama,NRP,Pendapatan,Status,Kota,Asuransi,Umur,Gender
0,Nicovan Renardy,2173001,2550000,Belum Menikah,Cirebon,Tidak,20,L
1,Farrel Valentino Sutrisno,2173003,1500000,Belum Menikah,Cirebon,Tidak,20,L
2,Velinda Novelia Candra,2173004,1500000,Belum Menikah,Cirebon,Ya,19,P
3,Matthew Christopher,2173005,2100000,Belum Menikah,Bandung,Tidak,21,L
4,Valencia Samuel,2173006,2850000,Belum Menikah,Bogor,Ya,19,P
5,David Kurniawan,2173007,1800000,Belum Menikah,Cirebon,Ya,20,L
6,Owen Wilianto,2173008,1650000,Belum Menikah,Bandung,Tidak,21,L
7,Abigail Maura,2173010,2100000,Belum Menikah,Bandung,Tidak,21,P
8,Michelle Angeline Aprila,2173011,1650000,Belum Menikah,Bandung,Ya,20,P
9,Yemmi Agustin,2173012,1800000,Belum Menikah,Jakarta,Ya,19,L
10,Dwiyanto Hermawan,2173013,2100000,Belum Menikah,Tasikmalaya,Tidak,21,L
11,Ryo Fernando,2173014,1500000,Belum Menikah,Bandung,Ya,21,L
12,Ivan Hadiono,2173015,2550000,Belum Menikah,Surakarta,Ya,21,L
13,Marco Benhard Lee,2173017,1800000,Belum Menikah,Medan,Tidak,19,L
14,Felisa Angeline Ongkowidjojo,2173018,1500000,Belum Menikah,Bandung,Tidak,21,P
15,Vincent Febryan,2173019,2100000,Belum Menikah,Pontianak,Tidak,20,L
16,Raimundo,2173020,2100000,Belum Menikah,Batam,Tidak,19,L
17,Morley Tri Wahyudin,2173021,1500000,Belum Menikah,Bandung,Tidak,19,L
18,Alfonsus Aldo Chandra,2173023,1650000,Belum Menikah,Bandung,Ya,20,L
19,Rosi Rachel Dame Tiarasi,2173025,1650000,Belum Menikah,Bandung,Tidak,21,P
20,Azarya Pranata,2173026,3000000,Belum Menikah,Pontianak,Tidak,21,L
21,Daryl Lesmana,2173027,1500000,Belum Menikah,Cirebon,Tidak,20,L
22,Marselius Agus Dhion,2173028,2850000,Belum Menikah,Bandung,Ya,19,L
23,Junniar Arrang Bua,2173901,1650000,Belum Menikah,Toraja,Ya,21,L